*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.content1{
    width:100vw;
    height: 100vh;
    background-color: blue;
}
.content2{
    width: 100vw;
    height: 100vh;
    background-color: blueviolet;
}