*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#formcontainer
{   
    border: 2px solid white;
    width:300px;
    height:500px;
    padding: 5px;
    margin-left: 400px;
    margin-right: 500px;
    margin-top: 100px;
    margin-bottom:100px ;
    border-radius: 10px;
background-color: white;
}
#username,#password
{
    
    border: 2px solid black;
    border-radius: 10px;
    width:220px;
    height:70px;
    padding: 10px;
    
}
button
{
    color: aliceblue;
    background-color: rgb(43, 198, 226);
    border: 5px solid black;
    border-radius: 10px;
    height:60px;
    width: 250px;
    padding: 15px;
margin-right: 20px;
margin-left:20px ;
margin-bottom:300px ;
margin-top: 70px;
}

