*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vw;
}
.top{
    height: 3%;
    width:100%;
}
.head{
    height:3%;
    width:100%;
    background-color: rgb(45, 44, 44);

}
.content{
    height: 35%;
    background-color:white;
    width:100%
}
 ul{
    color: white;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    /* flex-direction: row; */

}
ul li{
    list-style: none;
    margin-right: 20px;
    padding: 10px;
   /* align-items: center; */
}
ul li:hover{
    background-color: rgb(5, 5, 5);
}