*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vw;
}
.top{
    height: 3%;
    width:100%;
    background-color:black;
    display: flex;
    justify-content: space-between;
}
.left{
    height:38%;
    width:100%;
    background-color: rgb(42, 165, 93);

}
.bottom{
    height: 5%;
    background-color: brown;
    width:100%
}
.title{
    color:white ;   
    align-items: center;
}
#button{
    border-radius: 10%;
    width: 100px;
    background-color:red;
    align-items: end;
    }