*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
/* .div1{
    height: 300px;
    width:300px;
    border: 2px solid black;
    background-color: rgb(0, 238, 255);
    padding:10px;
    display: inline-block; 
    
}
#div2{
    background-color: brown;
}
/* #div2{
    height: 300px;
    width:300px;
    border: 2px solid black;
    background-color: rgb(234, 255, 0);
    padding:10px;
    display: inline-block;
    
} */ 
.container{
    width: vw;
    height: vh;
    
}
.box,.box1{
    width:200px;
    height: 200px;
    border: 2px solid black;
    background-color: blue;
    display: inline-block;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: row; */

}