*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
#div1
{
    width: 500vw;
    height: 100px;
    padding: 10px;
    background-color: aqua;
}
#div2
{
    width: 500vw;
    height: 100px;
    padding: 10px;
    background-color:blue;
}
