   *{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
   }
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr  0.5fr;
    grid-template-rows: 0.5fr 1fr 1fr 0.3fr;
    grid-template-areas: "nav nav nav" 
                          "menu content1 aside"
                          "menu content2  aside"
                          "footer  footer footer"
                          ;
                           
}
.nav{
    background:linear-gradient(to right , orange, red,orange);
    grid-area: nav;
    display: flex;
    /* align-items:center ; */
    color: white;
    flex-direction: column;
    justify-content: flex-end;
    
}
#content1{
    grid-area:content1 ;
    display: flex;
    flex-direction: column;
}
#content2{
    display: flex;
    flex-direction: column;
    grid-area: content2;
}
.menu{
    grid-area: menu;
}
.footer{
    background:linear-gradient(to right , orange, red,orange);
    grid-area: footer;
    display: flex;
    justify-content: end;
    font-size: 15px;
}
.aside{
    grid-area: aside;
}
.nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.nav ul li{
    font-size: 20px;
    padding: 20px;
    margin-top: 30px;

}
h1{
    margin-top: 20px;
    color:white;
    margin-left: 500px;
}
.menu ul{
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    padding:10px;
    color: rgba(108, 77, 32, 0.885);
}
.menu h3{
    margin-left: 70px;
    color: rgba(108, 77, 32, 0.885);
}
.menu p{
    margin-left: 65px;
    padding: 10px;
}
#image{
    width: 100px;
    height: 100px;
    margin-left:200px;
}
#image1{
    width:100px;
    height: 100px;

}
.aside{
    display: flex;
    flex-direction: column;
}
.aside ul{
    display: flex;
    flex-direction: column;
}
.aside ul li{
    margin-left: 20px;
    color: blue;
}
.aside h1{
    color: rgba(108, 77, 32, 0.885);
    margin-left: 10px;
}
.aside p{
    padding: 10px;
    margin-top: 10px;
}