*{
    padding: 0px;
    margin:0px;
    box-sizing: border-box;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color:black;

}
.top{
    width: 100%;
    height: 5%;
    background-color: rgb(18, 18, 27);
   display: flex;
  justify-content: space-between;
}
#search{
    color:black;
    align-content: end;
    border: 2px;
    background-color: white;
    font-size: medium;
}
/* .content{
    height:80%;
    width:100%
} */


.left{
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
   padding-top: 10px;
   justify-content: space-evenly;
}

 .box{ 
    width: 500px;
    height:200px;
    padding-right: 2px;
    border:2px solid white;
    border-radius: 10px;
    margin:10px;
    background-color: black;

}
