*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} 
.container{
    height: 100vh;
    width: 100vw;
}
.heading{
    height: 10%;
    width: 100%;
    background-color: rgba(27, 26, 26, 0.912);
    text-align: center;
    color:white ;
}
.navi{
    width:100%;
    height:10%;
    background-color: rgba(27, 26, 26, 0.912);
    /* background-color:black; */
    /* display: flex; */

}
ul li {

    list-style:none;
    margin-right: 20px;
    padding:10px ;
    /* display: flex;  */
}
ul li a{
    text-decoration:none;
    color:white ;
    font-size: large;
    padding: 20px;
}
ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navi ul li :hover{
    background-color: black;

}
.content{
    height: 70%;
    width:100%;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.content .news{
    width:20rem;
    height: 25rem;
    background-color: rgb(179, 176, 176);
    margin-top: 20px;
    padding:5px;
    /* margin-left: 20px; */
}
.footer{
    background-color: black;
    color: white;
    height:10%;
    width:100%;
    display: flex;
    justify-content: center;
}


